@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'keyframes';
@import 'cursor';
@import 'tables';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'input';
:root {
  --viewport-height: 100vh;
}
html {
  @apply text-paperdazgray-600;
  font-family: 'Poppins', sans-serif;
}

body {
  @apply bg-white;
}

html, body {
  scroll-behavior: smooth;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-paperdazgreen-300 bg-opacity-30;
    border-radius: 3px;

    &:hover {
      @apply bg-paperdazgreen-300 bg-opacity-100 cursor-pointer;
    }
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  // @apply px-4 sm:px-6 lg:px-7 xl:px-8 2xl:px-9;
  padding-right: 5%;
  padding-left: 5%;
  // max-width: unset;
  max-width: 1200px;
}

@screen xl {
  .container {
  }
}

.h-0\.25 {
  height: 1px;
}

.w-0\.25 {
  width: 1px;
}

.initials-image {
  @apply text-black inline-flex items-center justify-center;
  border-radius: 50%;
}

@for $i from 1 through 10 {
  .initials-image-#{$i} {
    $t: calc(32px * calc(1 + (#{$i} - 1) * 0.25));
    height: $t;
    width: $t;
    min-height: $t;
    min-width: $t;
  }
}

// Circle class

@mixin circle-content($size) {
  $t: calc(2px * #{$size});
  height: $t;
  width: $t;
  min-height: $t;
  min-width: $t;
}

@mixin circle-parent-content() {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

$screens: 'xxs', 'xs', 'sm', 'md', 'lg', 'xl';

.circle {
  @include circle-parent-content();
}

@for $i from 1 through 100 {
  .circle-#{$i} {
    @include circle-content($i);
  }

  @each $screen in $screens {
    .#{$screen}\:circle {
      @media screen and (min-width: theme('screens.' + #{$screen})) {
        @include circle-parent-content();
      }
    }
    .#{$screen}\:circle-#{$i} {
      @media screen and (min-width: theme('screens.' + #{$screen})) {
        @include circle-content($i);
      }
    }
  }
}

// Check the spinner keyframe in ./_keyframes.scss
.spinner {
  animation: spinner 1s linear infinite;
}

.action-button {
  @apply rounded-md px-5 h-10 font-medium text-base;

  &.action-button-sm {
    @apply h-8 text-sm font-normal rounded px-3;
  }

  &.primary {
    @apply bg-paperdazgreen-300 text-white;
  }

  &.danger {
    @apply text-white;
    background: #eb3a34;
  }
}

.custom-scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-paperdazgreen-300 bg-opacity-30;
    border-radius: 3px;

    &:hover {
      @apply bg-paperdazgreen-300 bg-opacity-100 cursor-pointer;
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#remember-me-checkbox {
  &:not(:checked) + label {
    @apply bg-paperdazgray-400;
    & .overlay {
      @apply bg-paperdazgray-400 bg-opacity-20;
    }
  }
  &:checked + label {
    @apply bg-paperdazgreen-300;
    & .overlay {
      opacity: 1;
      @apply bg-paperdazgreen-300 bg-opacity-20;
    }
  }

  & + label {
    z-index: 2;
    & .overlay {
      z-index: -1;
      opacity: 0;
      @apply transition ease-in-out  absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
